<section>
  <p>Fill in the details of the game you're playing.</p>
  <p>Your game will be listed immediately and will remain on the list until 15min after your start time.</p>
</section>

<form class='create-event' ng-submit='create.addEvent()'>
  <div class="form-group">
    <input type='text' class='form-control' dataMainPlaceholder="" dataAltPlaceholder="eg. King of Tokyo" ng-model='create.newEvent.name' placeholder='Game Title' required>
  </div>
  <div class="form-group date-selects">
    <div>

      <div class="styler styler-daySelect">
        <select ng-model="create.newEvent.daySelect" ng-change="create.selectDay()" required>
          <option value="2017, 9, 9">Sat</option>
          <option value="2017, 9, 10">Sun</option>
        </select>
      </div>

      <div class="styler styler-hour">
        <select  ng-model="create.newEvent.hour" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>

      <div class="styler styler-minute">
        <select ng-model="create.newEvent.minute" required>
          <option value="0">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
        </select>
      </div>

      <div class="styler styler-ampm">
        <select ng-model="create.newEvent.ampm" ng-model-options="{updateOn: 'submit'}" required>
          <option value="AM">am</option>
          <option value="PM" selected>pm</option>
        </select>
      </div>

    </div>
  </div>
  <div class="form-group">
    <input type='text' class='form-control' dataMainPlaceholder="" dataAltPlaceholder="eg. Main Hall - Row G" ng-model='create.newEvent.location' placeholder='Where You Will Set Up' required>
  </div>
  <div class="form-group">
    <input type="text" class='form-control' dataMainPlaceholder="" dataAltPlaceholder="(Number of players needed)" ng-model='create.newEvent.players' placeholder="Open Spots" required>
  </div>
  <div class="form-group">
    <input type="tel" class='form-control' dataMainPlaceholder="" dataAltPlaceholder="(So you can edit this entry later)" ng-model='create.newEvent.pin' min="4" max="8" placeholder="4 - 8 Digit PIN">
  </div>
  <button class="create-game-button">Create New Game</button>
</form>


<p class='error-msg' ng-show='create.errorMessage'>{{create.errorMessage}}</p>

<button class="nav-button" ui-sref='home'>Back</button>
