<div class="modal-bg" ng-show='gc.validEditCheck'></div>
<section>
  <p>Here are the details of the game.</p>
  <p>Go to the location listed at the appointed time to join in.</p>
</section>

<ul class="game-listing">
  <li class="game-name">{{gc.game.name}}</li>
  <li class="game-time">{{gc.game.time | date:'EEE, h:mm a'}}</li>
  <li class="game-location">{{gc.game.location}}</li>
  <li class="game-players">We need {{gc.game.players}} player(s).</li>
</ul>
<!-- <button>Edit Game</button>
<button ng-click='gc.deleteEvent()'>Delete Game</button> -->

<button class="edit-button" ng-click='gc.askEditPost();'><span>Edit</span></button>
<!-- <button ng-click='gc.askDeletePost(); $event.stopPropagation();'>Delete</button> -->

<div ng-show="gc.editAreYouSure" class="ask-delete">
  <div class="modal-bg-edit"></div>
  <form class="delete-event" ng-show="gc.editAreYouSure" action="" ng-submit="gc.editCheck($event, gc.game.$id, gc.game.pin)">

    <input type='tel' ng-model='gc.editPin' placeholder="Enter PIN">
    <p ng-show='gc.wrongPin'>{{gc.wrongPin}}</p>
    <div class="edit-button-wrapper">
      <button class="edit-game-save"><span>Go</span></button>
      <button class="edit-game-cancel" type='button' ng-click='gc.doNotEditPost(); !gc.editAreYouSure'><span>Cancel</span></button>
    </div>

  </form>
</div>

<div ng-show="gc.validEditCheck" class="edit-game">
  <form class='edit-event' ng-show='gc.validEditCheck' ng-submit='gc.editEvent(gc.game)'>
    <h1>Edit Game</h1>
    <div class="form-group">
      <input type='text' class='form-control' dataMainPlaceholder="" dataAltPlaceholder="eg. King of Tokyo" ng-model='gc.game.name' ng-model-options="{updateOn: 'submit'}" placeholder='Game Title' required>
    </div>
    <div class="form-group date-selects">
      <div>
        <div class="styler styler-daySelect">
          <select ng-model="gc.game.daySelect" ng-change="gc.selectDay()" required>
            <option value="2017/9/9">Sat</option>
            <option value="2017/9/10">Sun</option>
          </select>
        </div>
        <div class="styler styler-hour">
          <select ng-model="gc.game.hour" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="styler styler-minute">
          <select ng-model="gc.game.minute" required>
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
          </select>
        </div>
        <div class="styler styler-ampm">
          <select ng-model="gc.game.ampm" ng-model-options="{updateOn: 'submit'}" required>
            <option value="AM">AM</option>
            <option value="PM" selected>PM</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class='form-control' dataMainPlaceholder="" dataAltPlaceholder="eg. Main Hall - Row G" ng-model='gc.game.location' ng-model-options="{updateOn: 'submit'}" placeholder='Where You Will Set Up' required>
    </div>
    <div class="form-group">
      <input type='text' class='form-control' dataMainPlaceholder="" dataAltPlaceholder="(Number of players needed)" ng-model='gc.game.players' ng-model-options="{updateOn: 'submit'}" placeholder="Open Spots" required>
    </div>
    <button class="edit-game-save"><span>Save</span></button>
    <button class="edit-game-cancel" type='button' ng-click='gc.doNotEditPost(); !gc.editAreYouSure'><span>Cancel</span></button>
    <button class="edit-game-delete" ng-click='gc.deleteEvent(gc.game.$id, gc.game.pin)' type='submit'><span>Delete</span></button>

  </form>
</div>

<div ng-show="gc.areYouSure" class="ask-delete" ng-click='$event.stopPropagation();'>
  <div class="modal-bg"></div>
  <form class="delete-event">
    <p>Please enter this games's PIN to delete it.</p>
    <input type='tel' ng-model='gc.deletePin'>
    <p ng-show='gc.wrongPin'>{{gc.wrongPin}}</p>
    <button ng-click='gc.deleteEvent(gc.game.$id, gc.game.pin)' type='submit'><span>Delete</span></button>
    <button ng-click='gc.doNotDeletePost(); gc.more[$index] = !gc.more[$index]' type='button'><span>Go Back</span></button>
  </form>
</div>

<button class="nav-button" ui-sref='home'><span>Back</span></button>
